{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                if (event.offset.totalSeconds === 15) {
                    $('.otree-timer').show();
                }
            });
        });
    </script>
{% endblock %}


{% block title %}
    Your endowment for the next rounds has been set.
{% endblock %}

{% block content %}
    <p>
    For the next block, your endowment will be {{ player.my_endowment }} per round.
    </p>
    <p>
    This means that your cost of voluntary self-isolation ranges from:
        <br />
        0 for no self-isolation to {{ player.maximum_contribution }} for complete self-isolation.
    </p>
    <p>
    Sometimes this message appears during lockdown, then your payment will be adjusted
    according to your new endowment.
    </p>

    <p>
    Please proceed to the next page.
    </p>

    {% next_button %}
    {% comment %} {% endcomment %}

{% endblock %}