{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                if (event.offset.totalSeconds === 15) {
                    $('.otree-timer').show();
                }
            });
        });
    </script>
{% endblock %}


{% block title %}
    Prediction of others' self-isolation in this round
{% endblock %}

{% block content %}

    <table class="table-condensed" style="width:500px; margin-top:20px;">
        <tr><td>Total infections in the group:</td><td>{{ group.total_infections }}</td></tr>
        <tr><td>Number of players in the group:</td><td>{{ Constants.players_per_group }}</td></tr>
        <tr><td colspan="2"><hr/></td></tr>
        <tr><td>Endowment per round:</td><td>{{ Constants.endowment }}</td></tr>
        <tr><td>Cost of lockdown per round:</td><td>{{ group.lockdown_cost }}</td></tr>
    </table>
<p>
    {% formfields %}
</p>
    {% next_button %}
    {% comment %} {% endcomment %}

    {% include Constants.instructions_template %}

{% endblock %}
