{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    End of Experiment
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Payment:</strong></p>
            <p> Thank you for participating.
                Please return to Prolific and enter the completion code below.</p>

            <p>Completion Code: {{ completion_code }}</p>
        </div>
    </div>


{% endblock %}

