{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>
        In this study, you will be in a randomly formed large group
        of participants. Each participant in the group is given {{ Constants.endowment }} for every round.
        The group is trying to make as much money as possible, while limiting the spread of a virus.
        In each round, every participant in the group decides how much they self-isolate in order to
        limit the spread of the virus. Self-isolation costs points, for example: intermediate self-isolation costs
        2 points and complete self-isolation costs 4 points.
    </p>
    <p>
        A randomly assigned participant is 'Patient Zero'; they have the virus.
        You do not know who it is (it could be you). If Patient Zero comes in contact
        with a member of the general population because both parties don't self-isolate
        sufficiently, then Patient Zero can give the virus to that person. If half the people
        in the group have the virus, then your group will go into lockdown for two rounds.
        In lockdown, you earn much less money (4 points per round).
    </p>
    <p>
        The earnings from the project are calculated as follows:
        Your endowment in each round will depend on whether you are in lockdown.
        Your payoff equals the sum of your earnings per round, minus the amount you contribute.
    </p>
    </div>
</div>

