{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Public Goods Game: Information Sheet
{% endblock %}

{% block content %}
    <p>Muhrec number: 26499</p>

    <p>
        You have been invited to take part in the study entitled COVID-19 Public Goods Game.
        Please read this explanatory statement in full before deciding on whether or not to participate in the study.
        You are welcome to keep this information for your records.
        You are able to print or download this page from your internet browser.
    </p>

    <h5>Who can participate in this study?</h5>
    <p>
        Volunteers aged 18-65 who are fluent in English are eligible for participation.
        Volunteers must currently reside in the UK.
        Having trouble reading properly, or having trouble with simple arithmetic may disqualify a
        volunteer from participating, please disclose this information on the screening questionnaire.
    </p>

    <h5>The aim/purpose of the research</h5>
    <p>
        The purpose of this research project is to investigate how people make decisions.
        Specifically, how differences in circumstances affect their propensity to self-isolate.
    </p>

    <h5>What does the research involve?</h5>
    <p>
        The tasks associated with this research project involve taking some time to answer questions,
        and play an interactive economic game in a preferably quiet environment where you will not be disturbed.
        Specifically, the experiment will consist of answering survey questions about yourself and
        performing a task by responding based on instructions on the screen using your mouse.
        Further, all data from these questionnaires will be scored following anonymization of your data,
        and stored separately from your name.
    </p>

    <h5>How much time will the experimental procedure take?</h5>
    <p>
        The total duration of all tasks is around 50 minutes.
    </p>

    <h5>Possible benefits</h5>
    <p>
        There are no personal benefits anticipated for individuals participating in this study.
        This research will make a novel contribution to human knowledge.
    </p>

    <h6>Inconvenience/discomfort</h6>
    <p>
        There is no foreseen risk of inconvenience or discomfort associated with participation in this project.
        If you have any questions or concerns, please let the researcher know via email.
    </p>

    <h6>Payment</h6>
    <p>
        Participants will be compensated a base rate of £2.00 for their time during participation in the study, as well as a variable bonus, which depends on your choices.
        Barring exceptional circumstances, the minimum bonus will be £3.00.
    </p>

    <h6>Can I withdraw from the research?</h6>
    <p>
        Participation in this study is wholly voluntary, and you are under no obligation to consent to participation.
        Further, if you do consent to participate, you may withdraw from further participation at any stage.
        Withdrawing will have no adverse effect on you or your treatment by Monash University or the researchers involved. You will only be able to withdraw the data collected about you from the analysis if you withdraw before completing the experiment.
    </p>

    <h6>Confidentiality</h6>
    <p>Any information obtained in connection with this project that can identify you will remain confidential.
        It will only be disclosed with your permission, except as required by law.
        Participant data will be labelled with your Prolific ID rather than your name.
        In any publication or oral report on the study, information will be provided in such a way
        that you cannot be identified. All contact between yourself and the researchers will take place
        via your Prolific account, or via email if you choose to contact us directly.
        Should you wish to contact the researchers, their contact details are given at the end of this document.
    </p>

    <h6>Storage of data</h6>
    <p>
        Data collected will be stored in accordance with Monash University regulations,
        kept in a password protected hard drive for 5 years.
        Reports of the study may be submitted for publication but individual participants
        will not be identifiable in such a report.
    </p>

    <h6>Storage of data</h6>
    <p>
        Data collected will be stored in accordance with Monash University regulations,
        kept in a password protected hard drive for 5 years.
        Reports of the study may be submitted for publication
        but individual participants will not be identifiable in such a report.
    </p>

    <h6>Results</h6>
    <p>
        There is an optional debrief at the end of the experimental procedure
        if you would like to ask any questions about the research.
        If you would like to be informed of the aggregate research findings,
        please contact Simon van Baal at simon.vanbaal1@monash.edu.
    </p>

    <h6>Acknowledgement of research funding</h6>
    <p>
    This research is funded by the Department of Philosophy.
    </p>

    <h6>Researchers and contact information</h6>
    <p>The above research is being conducted by:</p>

    <table class="table-condensed" style="width:500px; margin-top:20px;">
        <tr><td>Simon van Baal</td><td>Professor Jakob Hohwy</td></tr>
        <tr><td>PhD Candidate</td><td>Professor, Chief Investigator</td></tr>
        <tr><td>Philosophy and Cognition Lab</td><td>Philosophy and Cognition Lab</td></tr>
        <tr><td>Monash University</td><td>Monash University</td></tr>
        <tr><td colspan="2"><hr/></td></tr>
        <tr><td>simon.vanbaal@monash.edu</td><td>jakob.hohwy@monash.edu</td></tr>
    </table>

    {% formfields %}

    {% next_button %}
{% endblock %}


