{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>
        You are given a variable number of points for every round (called endowment).
        Every participant can choose how much to stay home (self-isolate) in order to
        limit the spread of the virus. Self-isolation costs points, for example: moderate self-isolation costs
        20% of that round's points and complete self-isolation costs 40% of that round's points.
        If your group is in lockdown, everybody only earns 30% of that round's points.
    </p>

    <p>
        Each round, you will first be asked how much you would self-isolate if you
        knew how much the others in your group would self-isolate that round. Then you will be asked
        how much you will actually self-isolate (but you won't know how much others are self-isolating).
        The earnings from the project are calculated as follows:
    </p>
    <p>
        Your endowment in each round will depend on whether you are in lockdown, and your endowments are
        occasionally reshuffled. Each round's payoff equals your endowment, minus the
        amount you contribute. Please do your best to answer each question,
        otherwise we cannot pay you for that round.
    </p>
    </div>
</div>

