{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
    This is a public goods game where you will play for points. Each point is worth 1 pence (GBP 0.01).
    You will play multiple rounds, and for each round your endowment is {{ Constants.endowment }}.
    There will be other participants in your group, who are also playing for points.
    You are all trying to avoid a lockdown because in a lockdown you will be able to earn less money.
    <br />

    Below are specific instructions, read them carefully.
    <br />

    Each page will have a timer, please make sure to submit your answers before it runs out.
    {% include Constants.instructions_template %}

    {% next_button %}

{% endblock %}
