{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                if (event.offset.totalSeconds === 10) {
                    $('.otree-timer').show();
                }
            });
        });
    </script>
{% endblock %}

{% block title %}
    Your group is in Lockdown.
{% endblock %}

{% block content %}
    <p>
    Lockdowns last for 2 rounds (this is round {{ group.lockdown_round }}), you will be able to make less money in these rounds.
    You do not have to decide how much you would like to self-isolate.
    </p>
    <p>
    Please proceed to the results page, where you will be notified of the money you earned in this round.
    </p>

    {% next_button %}
    {% comment %} {% endcomment %}

{% endblock %}